html{
  font-size: 62;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  color:rgb(10, 5, 10);
  background-color: #dcf0ba;
  overflow: auto;
  display: block;
  -moz-osx-font-smoothing: grayscale;
}


